

/* Add padding to avoid navbar-fixed-top to lay on top of body content
   - navbar default height is 50px */
/*body { padding-top: 50px; }*/

/* Set size and aligment of the brand picture (half of navbar, vertically centered) */
/*.header_brand_img {
  height: 25px;
  margin-top: 12.5px;
  margin-right: 10px;
}*/


/* AdminLTE CSS overrides */

/* Overriding logo background color to make it blend with the sidebar meu */
.skin-yellow .main-header > .logo {
  background-color: #222;
}

/* Enable wrapping of long sidebar menu items */
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: normal;
}

.main-footer {
  padding: 5px;
}


/* Workaround for centering columns in datatables (necessary when also using bootstrap */
/*th.dt-center, td.dt-center { text-align: center; }*/

/* Hide a table header */
.hide_table_header thead {
  display: none;
}

/* Show zoomed snake image on hover */
.icon_zoom_on_hover {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.icon_zoom_on_hover:hover {
  -moz-transform: scale(4);
  -webkit-transform: scale(4);
  -o-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
  /*-moz-transform-origin: left;
  -webkit-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;*/
}

.snake_img_zoom_on_hover {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.snake_img_zoom_on_hover:hover {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  /*-moz-transform-origin: left;
  -webkit-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;*/
}

/* Shaking image/element on hover*/
.shaking:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
