<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>uWars</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <!--<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <!--<link rel="stylesheet" href="../static/plugins/datatables/dataTables.bootstrap.css">-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/AdminLTE.min.css') }}">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/skins/skin-yellow.min.css') }}">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/skins/skin-red.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/site_specific.css') }}">

  <style>
    /* Overriding logo background color to make it blend with the sidebar meu */
    .skin-yellow .main-header > .logo {
      background-color: #222;
    }
    .skin-red .main-header > .logo {
      background-color: #222;
    }

    .content-wrapper {
      background-image: url("../static/images/xmas/snow_bg.png");
    }

    .main-footer {
      background-image: url("../static/images/xmas/santa_space.png"),
                        url("../static/images/xmas/snow_bg.png");
      background-repeat: repeat-x, repeat-x;
      background-size: 30px 20px, 30px 30px;
      background-position: center;
    }
  </style>

  {% block page_css %}
  {# Block for inserting page specific css #}
  {% endblock %}

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<!--<body class="hold-transition skin-yellow sidebar-mini sidebar-collapse">-->
<body class="hold-transition skin-red sidebar-mini sidebar-collapse">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{{ url_for('dashboard') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!--<span class="logo-mini"><b><i class="fa fa-bug"></i></b></span>-->
      <!--<span class="logo-mini"><b><img alt="uWars" src="{{ url_for('static', filename='images/favicon-16x16.png') }}" height="16px" width="16px"></b></span>-->
      <span class="logo-mini shaking"><b><img alt="uWars" src="{{ url_for('static', filename='images/xmas/santa.png') }}" height="32px" width="32px"></b></span>
      <!-- logo for regular state and mobile devices -->
      <!--<span class="logo-lg"><b><i class="fa fa-bug"></i> µWars</b></span>-->
      <!--<span class="logo-lg"><b><img alt="uWars" src="{{ url_for('static', filename='images/favicon-16x16.png') }}" height="16px" width="16px"> Wars</b></span>-->
      <span class="logo-lg shaking"><b><img alt="uWars" src="{{ url_for('static', filename='images/xmas/santa.png') }}" height="32px" width="32px"> µWars</b></span>
    </a>

  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!--
      <div class="user-panel">
        <div class="image center-block">
          <i id="main_status" class="fa fa-circle-o"></i> <span></span>
        </div>
      </div>
      -->
      {# Define the items in the sidebar menu #}
      {#    href,      id (=active_page), caption,        icon #}
      {% set navigation_bar = [
          ('/',       'dashboard',    'Dashboard',    'fa fa-dashboard'),
          ('/charts', 'charts',       'Charts',       'fa fa-line-chart'),
          ('/board_maps', 'board_maps', 'Board maps', 'fa fa-map'),
          ('/tables', 'tables',       'Tables',       'fa fa-table'),
          ('/screenshots/max_length', 'screenshot', 'Screenshots', 'fa fa-camera'),
          ('/players', 'players',     'Players',      'fa fa-users'),
          ('/chat',   'chat',         'Snake chat',   'fa fa-comments'),
        ] -%}
      {% set active_page = active_page|default('index') -%}

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
          <li>
            <a href="#" data-toggle="offcanvas" class="glyphicon glyphicon-menu-hamburger"></a>
          </li>
        <li class="header">Menu</li>
        {# Create the sidebar menu #}
        {% for href, id, caption, icon in navigation_bar %}
          <li{% if id == active_page %}
                class="active"{% endif
              %}>
            <a href="{{ href|e }}"><i class="{{ icon }}"></i> <span>{{ caption|e }}</span></a>
          </li>
        {% endfor %}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>{{ content_title }}
        <small>{{ content_title_small }}</small>
      </h1>
    </section>

    {% block page_content %}{% endblock %}
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <!--<div class="pull-right hidden-xs">
      Anything you want
    </div>-->
    <!-- Default to the left -->
    <!--<strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.-->
  </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<!--<script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>-->
<script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<!-- Bootstrap 3.3.6 -->
<!--<script src="../static/bootstrap/js/bootstrap.min.js"></script>-->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- DataTables -->
<!--<script src="../static/plugins/datatables/jquery.dataTables.min.js"></script>-->
<!--<script src="../static/plugins/datatables/dataTables.bootstrap.min.js"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>

<!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- plotly import temporarily moved to the top of the page to make charts generated at the server work -->
<!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

{% block page_js %}
{# Block for inserting page specific javascript #}
{% endblock %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

</body>
</html>
