<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>uWars</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <!--<link rel="stylesheet" href="../static/plugins/datatables/dataTables.bootstrap.css">-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/AdminLTE.min.css') }}">

  <!-- Select the AdminLTE Skin.
  Make sure to apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/skins/skin-yellow.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/site_specific.css') }}">

  {% block page_css %}
  {# Block for inserting page specific css #}
  {% endblock %}

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-yellow sidebar-mini sidebar-collapse">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{{ url_for('dashboard') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini shaking"><b><img alt="uWars" src="{{ url_for('static', filename='images/favicon-16x16.png') }}" height="16px" width="16px"></b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg shaking"><b><img alt="uWars" src="{{ url_for('static', filename='images/favicon-16x16.png') }}" height="16px" width="16px"> Wars</b></span>
    </a>

    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle visible-xs-block" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!--
      <div class="user-panel">
        <div class="image center-block">
          <i id="main_status" class="fa fa-circle-o"></i> <span></span>
        </div>
      </div>
      -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="hidden-xs">
          <a href="#" data-toggle="offcanvas" class="glyphicon glyphicon-menu-hamburger"></a>
        </li>
        <li class="header">Menu</li>
        {% for item in menu %}
          {% if not item.sub_menu %}
            <li{% if item.active %} class="active"{% endif %}>
              <a href="{{ item.url|e }}">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.title|e }}</span>
              </a>
            </li>
          {% else %}
            <li class="treeview {% if item.active %} active{% endif %}">
              <a href="#">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.title|e }}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                {% for sub_item in item.sub_menu %}
                  <li{% if sub_item.active %} class="active"{% endif %}>
                    <a href="{{ sub_item.url|e }}">
                      <i class="{{ sub_item.icon }}"></i>
                      {{ sub_item.title|e }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>{{ content_title }}
        <small>{{ content_title_small }}</small>
      </h1>
    </section>

    {% block page_content %}{% endblock %}
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="text-center"><a href="https://gitlab.com/smyren/uWars/"><img alt="uWars" src="{{ url_for('static', filename='images/favicon-16x16.png') }}" height="16px" width="16px"></a></div>
  </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.4 -->
<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>

<!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- plotly import temporarily moved to the top of the page to make charts generated at the server work -->
<!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

{% block page_js %}
{# Block for inserting page specific javascript #}
{% endblock %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

</body>
</html>
