
{% extends "base.html" %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if warning_message %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{ warning_message }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="box box-primary">
            <div class="box-header">
              <div class="btn-group" role="group">
                {% for dropdown in dropdown_list %}
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ dropdown.title_attr }}" {{ dropdown.attr }}>{{ dropdown.btn_text }} <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-drop-down">
                      {% for key, element in dropdown.element_dict.items() %}
                        <li><a href="{{ element.url }}">{{ element.text }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>

<!--            <div class="dropdown" id="single_chart_select_chart_1">
                <button class="btn btn-default dropdown-toggle" type="button" id="single_chart_select_button_1" data-toggle="dropdown">
                  <span id="single_chart_button_text_1">Select a chart</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"></ul>
              </div>
            -->
            </div>
            <div class="box-body">
              {{ chart_html|safe }}
            </div>
          </div>
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}


{% block page_js %}
  <script src="{{ url_for('static', filename='js/plotly_responsive.js') }}"></script>
{% endblock %}

