
{% extends "base.html" %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if warning_message %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{ warning_message }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="box box-primary">
            <div class="box-header">
              <form role="form" class="form-inline">
                <div class="btn-group" role="group">
                  {% for dropdown in dropdown_list %}
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ dropdown.title_attr }}" {{ dropdown.attr }}>{{ dropdown.btn_text }} <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-drop-down">
                        {% for key, element in dropdown.element_dict.items() %}
                          <li><a href="{{ element.url }}">{{ element.text }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>
                {% if enable_live_data_checkbox %}
                <div class="checkbox pull-right">
                  <label>
                    <input id="isLiveDataEnabled" type="checkbox"> Enable live data
                  </label>
                </div>
                {% endif %}
              </form>
            </div>
            <div class="box-body">
              {% if chart_selected %}
                {% if chart_list[0].chart_lib == 'highcharts' %}
                  <div id='{{ chart_list[0].id }}'></div>
                {% elif chart_list[0].chart_lib == 'plotly' %}
                  {{ chart_list[0].chart_html|safe }}
                {% else %}
                  <p>Unsupported chart library '{{ chart_list[0].chart_lib }}'</p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}


{% block page_js %}
    <script src="{{ url_for('static', filename='js/my_app_charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly_responsive.js') }}"></script>
    <script>
      var hs_charts = {};
      var plotly_charts = {};
      {% for chart in chart_list %}
        {% if chart.chart_lib == 'highcharts' %}
          hs_charts['{{ chart.room_id }}'] = {
            id: '{{ chart.id }}',
            data: {{ chart.chart_json|tojson|safe }}
          };
        {% elif chart.chart_lib == 'plotly' %}
          plotly_charts['{{ chart.room_id }}'] = {
            id: '{{ chart.id }}',
          };
        {% endif %}
      {% endfor %}
    </script>
{% endblock %}