
{% extends "base.html" %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Messages</h3>
              <div class="box-tools pull-right">
                <button id="chat_pause" class="btn btn-box-tool"><i class="fa fa-pause"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div id="chat_area" class="direct-chat-messages">
              </div>
            </div>
          </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block page_js %}
  <script src="{{ url_for('static', filename='js/my_app_chat.js') }}"></script>
{% endblock %}