
{% extends "base.html" %}

{% block page_js %}
  <script src="{{ url_for('static', filename='js/my_app_dash.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plotly_responsive.js') }}"></script>
  <script>
  var hs_charts = {};
  var plotly_charts = {};
  {% for chart in chart_list %}
    {% if chart.chart_lib == 'highcharts' %}
      hs_charts['{{ chart.room_id }}'] = {
        id: '{{ chart.id }}',
        data: {{ chart.chart_json|tojson|safe }}
      };
    {% elif chart.chart_lib == 'plotly' %}
      plotly_charts['{{ chart.room_id }}'] = {
        id: '{{ chart.id }}',
      };
    {% endif %}
  {% endfor %}

  var tables = {};
  {% for tbl in table_list %}
    tables['{{ tbl.room_id }}'] = {
      id: '{{ tbl.id }}',
      attr: {{ tbl.datatables_attr|tojson }}
    };
  {% endfor %}

  var chats = {};
  {% for chat in chat_list %}
    chats['{{ chat.room_id }}'] = {
      id: '{{ chat.id }}',
      max_messages: '{{ chat.max_messages }}',
    };
  {% endfor %}

  var info_boxes = {};
  {% for box in info_box_list %}
    info_boxes['{{ box.room_id }}'] = {};
  {% endfor %}

</script>
{% endblock %}

{% macro chart_div(chart) -%}
  {% if chart.chart_lib == 'highcharts' %}
    <div id='{{ chart.id }}'></div>
  {% elif chart.chart_lib == 'plotly' %}
    {{ chart.chart_html|safe }}
  {% else %}
    <p>Unsupported chart library '{{ chart.chart_lib }}'</p>
  {% endif %}
{%- endmacro %}

{% macro chat_box(chat) -%}
  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{ chat.title }}</h3>
      <!--<div class="box-tools pull-right">
        <button id="chat_pause" class="btn btn-box-tool"><i class="fa fa-pause"></i></button>
      </div>-->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- Conversations are loaded here -->
      <div id="{{ chat.id }}" class="direct-chat-messages"></div>
    </div>
  </div>
{%- endmacro %}

{% macro info_box(box_cfg) -%}
  <div class="info-box {{ box_cfg.color }}">
    <span class="info-box-icon">
      <div class="icon"><i class="{{ box_cfg.icon_class }}"></i></div>
    </span>
    <div class="info-box-content">
      <span class="info-box-text">{{ box_cfg.title }}</span>
      <span id="{{ box_cfg.room_id }}_box_main_text" class="info-box-number">
        {{ box_cfg.main_text }}
      </span>
      {% if box_cfg.prog_bar_width %}
      <div class="progress">
        <div id="{{ box_cfg.room_id }}_box_prog_bar_width" class="progress-bar"
          style="width: {{ box_cfg.prog_bar_width }}"></div>
      </div>
      {% endif %}
      <span id="{{ box_cfg.room_id }}_box_sub_text" class="progress-description">
        {{ box_cfg.sub_text }}
      </span>
    </div>
  </div>
{%- endmacro %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <!-- Info box row -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          {{ info_box(info_box_list[0]) }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          {{ info_box(info_box_list[1]) }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          {{ info_box(info_box_list[2]) }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          {{ info_box(info_box_list[3]) }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="box box-primary">
            <!--<div class="box-header">
              <h3 class="box-title">title</h3>
            </div>-->
            <div class="box-body">
              {{ table_list[0].table }}
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="box box-primary">
            <!--<div class="box-header">
              <h3 class="box-title">title</h3>
            </div>-->
            <div class="box-body">
              {{ chart_div(chart_list[0]) }}
            </div>
          </div>
          <div class="box box-primary">
            <!--<div class="box-header">
              <h3 class="box-title">title</h3>
            </div>-->
            <div class="box-body">
              {{ chart_div(chart_list[1]) }}
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-2">
          {{ chat_box(chat_list[0]) }}
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
