
{% extends "base.html" %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">The longest (dead) snake in the game so far</h3>
            </div>
            <div class="box-body">

              <div id="screenshot">
                <img id="screenshot_img" class="img-responsive pad"
                  src="{{ img_url }}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='imageviewer/imageviewer.css') }}"/>
{% endblock %}

{% block page_js %}
  <script src="{{ url_for('static', filename='imageviewer/imageviewer.min.js') }}"></script>

  <script>
    $(function () {
      var viewer = ImageViewer();
      $('#screenshot_img').click(function () {
        viewer.show(this.src);
      });
    });
  </script>
{% endblock %}
