
{% extends "base.html" %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="status_alert"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if warning_message %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{ warning_message }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            {% if dropdown_list or enable_live_data_checkbox %}
              <div class="box-header">
               <form role="form" class="form-inline">
                <div class="btn-group" role="group">
                  {% for dropdown in dropdown_list %}
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ dropdown.title_attr }}" {{ dropdown.attr }}>{{ dropdown.btn_text }} <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-drop-down">
                        {% for key, element in dropdown.element_dict.items() %}
                          <li><a href="{{ element.url }}">{{ element.text }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>
                {% if enable_live_data_checkbox %}
                  <div class="checkbox pull-right">
                    <label>
                      <input id="isLiveDataEnabled" type="checkbox"> Enable live data
                    </label>
                  </div>
                {% endif %}
                </form>
              </div>
            {% endif %}
            <div class="box-body">
              {% if table_selected %}
                {{ table_list[0].table }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block page_js %}
  {% if table_selected %}
    <script src="{{ url_for('static', filename='js/my_app_tables.js') }}"></script>
    <script>
      var tables = {};
      {% for tbl in table_list %}
        tables['{{ tbl.room_id }}'] = {
          id: {{ tbl.id }},
          attr: {{ tbl.datatables_attr|tojson }}
        };
      {% endfor %}
    </script>
  {% endif %}
{% endblock %}